@import "variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-color: $blue-dark;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}

.nav {
  background-color: #fff;
  height: 3rem;
  border-bottom: 2px solid rgba(0,0,0,.1);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-logo a{
  font-size: 2rem;
  margin-right: 2rem;
  color: $black;
  text-decoration: none;
  display: inline-block;
  min-width: 285px;
}

.nav-link {
  font-size: 1rem;
  color: $color-primary;
  margin: 1rem;
  text-transform: uppercase;
}

.nav-link a {
  color: $color-primary;
  text-decoration: none;  
}

.nav-link :hover {
  color: $color-highlight;
  text-decoration: underline;
}

.nav-item {
  font-size: 1rem;
  text-transform: uppercase;
}

.users-container {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: center;
  max-width: 400px;
}

.page {
  max-width: 800px;
  height: 100%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 30px;
  background-color: $white;
}

.welcome-message {
  // text-align: center;
  // display: flex;
  justify-content: center;
  text-align: center;
}

.searchbar {
  width: 100%;
  text-align: center;
}

.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  font-size: 1.5rem;
}

.search-button {
  font-size: 1.5rem;
  border: 1.5px solid $color-primary;
  background-color: $color-primary;
  color: $white;
}

.search-button:hover {
  font-size: 1.5rem;
  border: 1.5px solid $color-highlight;
  background-color: $color-highlight;
  color: $white;
}

.movie-list-item {
  display: flex;
  margin-bottom: 20px;
}

.movie-list-preview {
  flex-grow: 2;
  margin-left: 20px;
}

.movie-list-button {
  font-size: 1rem;
  color: $white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
}

.movie-list-button:hover {
  background-color: $color-highlight;
  border: 1px solid $color-highlight;
  
}

.about-movie-container {
  display: flex;
}

.about-movie-image {
  margin: 10px;
}

.about-movie-preview {
  margin: 10px;
}

.list-filter-info {
  font-weight: bold;
}

.filter-container {
  text-align: left;
}

.filterbar {
  width: 300px;
  text-align: left;
}

.filter-input-container {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}

.filter-input {
  font-size: 1rem;
}

.filter-button {
  font-size: 1rem;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $white;
}

.filter-button:hover {
  font-size: 1rem;
  border: 1px solid $color-highlight;
  background-color: $color-highlight;
  color: $white;
}

// media query breakpoints
// @media (min-width: 576px){}
// @media (min-width: 768px){}
// @media (min-width: 992px){}
// @media (min-width: 1200px){}